* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-bg-color: #fed051;
}
body {
  font-family: "Roboto", sans-serif;
}
main {
  display: flex;
  width: 80%;
  margin: auto;
  border: 1px solid black;
}
/*******    photo candidat  *****************/
img {
  margin-top: 35px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: rgb(26, 26, 26);
  border-style: outset;
  max-height: 100px;
}
.miniature {
  text-align: center;
}
/**********************sectionn gauche *********************/
#sectionLeft {
  background-color: var(--main-bg-color);
  width: 33%;
  height: auto;
}
.effect {
  font-weight: bold;
}
p.h {
  margin-top: 10px;
}
.h {
  padding-left: 20px;
}
h5 {
  background-color: black;
  color: var(--main-bg-color);
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  padding: 5px;
}
aside.propos {
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
  margin-bottom: 20px;
}
.propos a {
  text-align: justify-all;
  text-decoration: none;
  color: black;
}
h5.loisir {
  margin-top: 100px;
}
h6 {
  padding: 20px;
}
aside.icones {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0px;
  flex: 2;
}
aside.icones i {
  font-size: 35px;
}
/********************** section  droite    *******************/
#sectionRight {
  background-color: white;
  padding-left: 60px;
  width: 73%;
}
.rubrique {
  display:flex;
  margin-top: 30px;
  font-weight: bold;
}
hr.shortLine {
  width: 7%;
  height: 2px;
  margin-top: 2px;
  border-top: 1px solid var(--main-bg-color);
}
hr {
  width: 95%;
  height: 2px;
  margin-top: 6px;
  border-top: 1px solid var(--main-bg-color);
  border-top-color: var(--main-bg-color);
}
.name {
  margin-top: 55px;
  font-weight: bold;
  color: var(--main-bg-color);
  font-size: 2.5rem;
  font-weight: 300;
}
.name em {
  color: black;
}
/******  section  droite   Tableaux ****************/
table {
  border-collapse: collapse;
}
th,td {
  text-align: left;
  padding: 15px 15px;
}
#t01,
#t02,
#t03 {
  margin-top: 30px;
}
td:first-child {
  width: 30%;
}
table #t03 {
  width: 100%;
}
.fa-graduation-cap,
.fa-wrench,
.fa-pencil-alt,
.fa-dot-circle,
.fa-circle.fa-xs {
  color: var(--main-bg-color);
}
/*****icones Loisirs****************/
.fa-camera,
.fa-futbol-o,
.fa-music {
  color: black;
  }
aside.icones i.fa {
    display: inline-block;
    justify-content: space-between;
    border-radius: 37px;
    box-shadow: black 0 0 0 1px;
    padding: 0.2em 0.2em;
  }
/*************************************/
#article2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}
#article2 h3 {
  font-size: 17px;
  padding-top:10px;
}
#article2 span {
  font-weight: normal;
}
ul {
  list-style: none;
  font-weight: bold;
  color: #424242;
}
li {
  margin-left: 2px;
}
li.underline{
  text-decoration-line: underline;
  padding-bottom: 10px;
}
/***********Média  querie***with directive CSS******  Responsive Design  side ************/
@media screen and (max-width: 900px) {
  main {
    flex-direction: column;
    width: 100%;
  }
  section#sectionLeft {
    width: 100%;
     margin-top: 130px;
  }
  section#sectionRight {
    width: 100%;
    padding-left:15px;
    padding-right: 15px;

    }
  #sectionRight header{
    position: absolute;
        top: 12px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        text-align: center;
        }
        hr.shortLine{
          display: none;
        }
#sectionRight  header  {
        width:auto;
        margin-left: 0px;
    }
h3 {
  text-align: center;
  display: block;
  }
}
